body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: whitesmoke;
}
.title{
    text-align: center;
    font-weight: bolder;
    font-size: 4rem;
    font-family: sans-serif;
    text-decoration: underline;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#display{
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    margin-bottom: 40px;
}
#controls button{
    font-size: 2rem;
    font-weight: bolder;
    padding: 20px 20px;
    margin: 7px;
    min-width: 125px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    
}
#date{
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;

}
#time{
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    
}
#start{
    background-color: rgba(65, 253, 190, 0.452);
}
#start:hover{
    background-color: rgba(127, 255, 212, 0.726);

}
#stop{
    background-color: rgba(220, 20, 60, 0.452);
}
#stop:hover{
    background-color: rgba(220, 20, 60, 0.726);  
}
#reset{
    background-color: rgba(131, 144, 425,0.452);
}
#reset:hover{
    background-color: rgba(131, 144, 425,0.726);
    
}